<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signal - Edit room</title>
</head>
<body>
    <h1>Edit room</h1>
    <h3>{{message}}</h3>
    <form action="" method="post">
        <input type="text" name="room_name" placeholder="Room name" value="{{room.name}}">
        <input type="text" name="members" placeholder="Members" value="{{room_members_str}}">
        <button type="submit">Save changes</button>
    </form>
</body>
</html>