<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
    <title>Signal - Edit room</title>
</head>
<body>
    <h1 class="title">Edit room</h1>
    <h3 class="message">{{message}}</h3>
    <form class="edit-room-form" action="" method="post">
        <input type="text" name="room_name" placeholder="Room name" value="{{room.name}}">
        <input type="text" name="members" placeholder="Members" value="{{room_members_str}}">
        <button class="save-btn" type="submit">Save changes</button>
    </form>
</body>
</html>