<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
    <title>Signal</title>
</head>
<body>
    <div class="main">
        <h1 class="title">Signal</h1>
        <h3 class="greeting">
            Hi, {% if current_user.is_authenticated %}{{current_user.username}}{% else %}Guest{% endif %}
        </h3>
        <div class="options">
            {% if not current_user.is_authenticated %}
                <button class="login-btn" id="login-btn" type="submit">Login</button>
                <button class="signup-btn" id="signup-btn" type="submit">Sign Up</button>
            {% endif %}
        </div>
        <div class="rooms-list-title">
            <b>Available rooms</b>
        </div>
        <ul class="rooms-list">
            {% for room in rooms %}
                <li><a class="room-url" href="/rooms/{{room._id.room_id}}">{{ room.room_name }}</a></li>
            {% endfor %}
        </ul>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>
<script defer>
    window.onload = () => {

        document.getElementById('login-btn').onclick = (e) => {
            window.location = '/login'
        }

        document.getElementById('signup-btn').onclick = (e) => {
            window.location = '/signup'
        }
    }
</script>
</html>