<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
    <title>Signal - chat</title>
</head>
<body>
    <h1>Welcome to chat room: {{room.name}}</h1>
    <div class="messages-container">
        <div id="messages">
            {% for message in messages %}
                <div><b>{{ message.sender }}&nbsp;[{{ message.created_at }}]:&nbsp;</b> {{ message.text }}</div>
            {% endfor %}
        </div>
        <form action="" id="message-form">
            <input type="text" id="message-input" placeholder="Enter your message">
            <button type="submit">Send</button>
        </form>
    </div>
    <div class="rooms-members">
        <ul class="rooms">
            {% for room in rooms %}
                <li><a class="room-url" href="/rooms/{{room._id.room_id}}">{{ room.room_name }}</a></li>
            {% endfor %}
        </ul>
        <ul class="members">
            {% for member in room_members %}
                <li>{{member._id.username}}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="user-options">
        <button id="edit-room-btn" type="submit">Edit room</button>
        <button id="logout-btn" type="submit">Logout</button>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>
<script>
    const socket = io.connect("http://127.0.0.1:5000")
    socket.on('connect', () => {
        socket.emit('join_room', {
            username: '{{ username }}',
            room: '{{ room._id }}'
        })

        let messageInput = document.getElementById('message-input')
        document.getElementById('message-form').onsubmit = (event) => {
            event.preventDefault()
            let message = messageInput.value.trim()
            if (message.length > 0) {
                socket.emit('send_message', {
                    username: '{{ username }}',
                    room: '{{ room._id }}',
                    message: message,
                }) 
            }
            messageInput.value = ''
            messageInput.focus()
        }
    })

    document.getElementById('logout-btn').onclick = (e) => {
        window.location = '/logout'
    }

    document.getElementById('edit-room-btn').onclick = (e) => {
        window.location += '/edit'
    }

    socket.on('join_room_announcement', (data) => {
        console.log(data)
        const newNode = document.createElement('div')
        newNode.innerHTML = `<b>${data.username}</b> has joined the room`
        document.getElementById('messages').appendChild(newNode)
    })

    socket.on('leave_room_announcement', (data) => {
        console.log(data)
        const newNode = document.createElement('div')
        newNode.innerHTML = `<b>${data.username}</b> has left the room`
        document.getElementById('messages').appendChild(newNode)
    })

    socket.on('recive_message', (data)=>{
        console.log(data)
        const newNode = document.createElement('div')
        newNode.innerHTML = `<b>${data.username}&nbsp;[${data.created_at}]:&nbsp;</b> ${data.message}`
        document.getElementById('messages').appendChild(newNode)
    })
</script>
</html>